body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.dasboard-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.chart-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #0f172a;
  color: #fff;
}

.sidebar-container {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #1e293b;
  height: 100vh;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  color: #38bdf8;
  margin-bottom: 30px;
}

.sidebar a {
  display: block;
  color: #cbd5e1;
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 18px;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #38bdf8;
}

.main {
  flex-grow: 1;
  padding: 40px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 20px;
  /* gap: 40px;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px; */
}

.card {
  background-color: #1e293b;
  padding: 20px;
  border-radius: 16px;
  width: 250px;
  transition: 0.3s;
  /* cursor: pointer; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 12px;
}

.card:hover {
  background-color: #334155;
}

.card h3 {
  color: #38bdf8;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  margin-bottom: 16px;
}
.card a {
  background-color: #2563eb;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
}

.card a:hover {
  background-color: #1d4ed8;
}
